<%- include('Partials/header.ejs') %>

<form action="/links/update/<%= id %>" method="POST">
	  <input type="hidden" name="_method" value="PATCH">
      <input type="text" placeholder="Enter your new Category" value="<%= name %>" name="categoryName" required/>
	  <button type="submit" class="btn btn-float" ><i style="color: red" class="fas fa-plus fa-small" style="margin: 0;"></i></button>
</form>


<%- include('Partials/footer.ejs') %>