<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkster Login</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' />

    <link rel="stylesheet" href="/css/loginstyles.css">


</head>

<body>

    <div class="contact-us">
    <form>
        <h1 style="margin-bottom: 10px; text-align: center;">
            <i class="fas fa-book-open"></i> Linkster
        </h1>
        <p style="margin-bottom: 10px; text-align: center;">
            Store Links to save Irritation of again searching them.
        </p>

        <a href="/auth/google"><button type="button" style="margin-bottom: 20px">
                <i class="fab fa-google-plus-square"></i>
                SIGN IN/UP WITH GOOGLE
            </button></a>
        
    </form>
</div>



</body>

</html>